.Selectable:hover {
  cursor: pointer;
  transform: scale(1.05);
}

.Selectable { }

.BlogCell {
	border-radius: 16px;
	margin: 18px 16%;
	padding: 2px 48px 8px;
  background-color: #FFFFFF;
}

.BlogCell p {
  color: #282c34;
  font-size: 20px;
}

.BlogCell h1 {
  color: #2B2B2B;
  margin-bottom: -16px;
  font-size: 32px;
}

.TagListContainer {
  background: #34364a;
  padding-top: 4px;
  padding-bottom: 4px;
  white-space: nowrap;
  overflow: auto;
  display: flex;
  justify-content: center;
}

.TagListCell {
  display: inline-block;
  float: none; border-radius: 20px;
  margin: 6px 8px;
  padding: 0px 24px 0px;
  background: #f6f4f4;
}

.TagListCellSelected {
  display: inline-block;
  float: none; border-radius: 20px;
  margin: 6px 8px;
  padding: 0px 24px 0px;
  background: #181c24;
  
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10+ and Edge */
  user-select: none; /* Standard syntax */
}

.TagListCellSelected p {
  color: #f6f4f4;
  font-weight: bold;
}

.TagListCell p {
  color: #2a2e2c;
  font-weight: bold;

  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10+ and Edge */
  user-select: none; /* Standard syntax */
}


.scrolling-wrapper {
  -webkit-overflow-scrolling: touch;
}
