.Selectable:hover {
  cursor: pointer;
	background-color: #c9ccd6;
}

.Selectable {
  background: #d6d4d4;
}


.BlogCell {
	border-radius: 12px;
	margin: 18px 16%;
	padding: 2px 48px 8px;
}

.BlogCell p {
  color: #282c34;
}

.BlogCell h1 {
  color: #2B2B2B;
  margin-bottom: -8px;
}

.TagListContainer {
  display: flex;
  justify-content: center;
  background: #64667b;
  padding-top: 4px;
  padding-bottom: 4px;
  white-space: nowrap;
  overflow: auto;
}

.TagListCell {
  display: inline-block;
  float: none; border-radius: 20px;
  margin: 6px 8px;
  padding: 0px 24px 0px;
  background: #f6f4f4;
}

.TagListCell p {
  color: #2a2e2c;
  font-weight: bold;
}


.scrolling-wrapper {
  -webkit-overflow-scrolling: touch;
}
