.DetailPage {
	margin: 2% 8%;
  background-color:#d6d4d4;
  border-radius: 16px;
	padding: 2px 48px 8px;
}

.DetailPage h1, h2, h3 {
  font-family: HeaderFont;
  margin-bottom: -12px;
}

.DetailPage h1 {
  font-size: 48px;
}

.DetailPage h2 {
  font-size: 36px;
}
.DetailPage h3 {
  font-size: 24px;
}

.DetailPage p {
  font-family: BodyFont;
  font-size: 20px;
  line-height: 1.3;
  margin-bottom: -4px;
}
